/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
input.croquet {
    width: auto !important;
    display: inline !important
}

div.fail {
    color: red !important;
    weight: bold !important;
}
